<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%= favicon_link_tag 'favicon.ico' %>
  <title>PIH Banca</title>
  <%= csrf_meta_tags %>
  <% if ENV['RAILS_ENV'] == 'production' %>
    <link rel="stylesheet" href="https://s3-us-west-2.amazonaws.com/assets-pih-banca/production/main.min.css">
  <% elsif ENV['RAILS_ENV'] == 'staging' %>
    <link rel="stylesheet" href="https://s3-us-west-2.amazonaws.com/assets-pih-banca/staging/main.min.css">
  <% end %>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.15&libraries=places,drawing&sensor=true"></script>
  <script src="https://use.typekit.net/gpa7idw.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
  <!-- Google Analytics -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
     (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
     m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
     })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-75822953-1', 'none');
  </script>
  <!-- End Google Analytics -->
</head>
<body>
<div id="modal-reserved-area"></div>
<div id="alert-banca" class="alert alert-dismissible fade in" role="alert" style="position: absolute; width: 100%; min-height: 51px; top: 51px; display: none">
  <div class="container">
    <div class="col-sm-12 alert-text" id="alert-banca-text">
    </div>
  </div>
</div>
<%= render 'layouts/alert_notice'%>
<%= yield %>
<%= render 'layouts/asset_configuration' %>
</body>
</html>
