<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%= favicon_link_tag 'favicon.ico' %>
  <title>PIH Banca</title>
  <%= csrf_meta_tags %>
  <% if ENV['RAILS_ENV'] == 'production' %>
    <link rel="stylesheet" href="https://s3-us-west-2.amazonaws.com/assets-pih-banca/production/main.min.css">
  <% elsif ENV['RAILS_ENV'] == 'staging' %>
    <link rel="stylesheet" href="https://s3-us-west-2.amazonaws.com/assets-pih-banca/staging/main.min.css">
  <% end %>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.15&libraries=places,drawing&sensor=true"></script>
  <script src="https://use.typekit.net/gpa7idw.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
</head>
<body>
<div id="modal-reserved-area"></div>
<%= render 'layouts/alert_notice'%>
<%= yield %>
<%= render 'layouts/asset_configuration' %>
</body>
</html>
